[Unit]
Description=Poglos resonating board
After=network.target

[Service]
ExecStart=/usr/bin/python -u /home/pi/code/poglos.py -P /home/pi/code/preferences.yml
WorkingDirectory=/home/pi/code
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target