<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pogłos</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="static/lib/vue.dev.js"></script>
    <script src="static/lib/socket.io.min.js"></script>
</head>

<body>
    <header>
        <div class="title">pogłos</div>
    </header>
    <main id="app">
        <div class="help" id="help" v-if="showHelp">
            <h1>help</h1>
            <p>This is the web interface to your pogłos board. It allows you to control the playback of the compositions.</p>
            <p>The 'connect' button first asks for your wifi credentials, then connects to your local network and requests compositions.</p>
            <p>Select a composition to play it.</p>
        </div>
        <h1 v-if="connected">
            currently
        </h1>
        
        <div class="current">
            <div v-if="connected && current"  class="marquee">
                {{current.artist }} - {{ current.name }}
            </div>
            <div v-if="connected && !current" class="marquee status">
                {{ status }}
            </div>
            <div v-if="!connected" class="status connecting">
                trying to connect
            </div>
        </div>

        <h1 v-if="connected">
            compositions
        </h1>

        <div class="compositions" v-if="connected">
            <div class="composition" v-for="composition in compositions">
                <div class="info" @click="start(composition.name)">
                    <div class="name">{{ composition.name }}</div>
                    <div class="artist">{{ composition.artist }}</div>
                    <div class="description">{{ composition.description }}</div>
                </div>
            </div>
        </div>
        
        <div class="controls">
            <button class="ctrl" v-if="connected" @click="stop()">stop</button>
            <button class="ctrl" v-if="!connected" @click="fetchState()">connect</button>
            <button class="ctrl" @click="showHelp = !showHelp">guide</button>
            <button class="ctrl" v-if="connected" @click="showVolume = !showVolume">volume</button>
            <div class="volume" v-if="showVolume && connected">
                <input type="range" name="volume" @input="setVolume" min="0" :value="volume" max="100" id="volume-slider" class="volume-slider">
                <!-- <span class="volume-value" id="volume" v-if="connected">{{volume}}</span> -->
            </div>
        </div>
    </main>
    <script src="static/script.js"></script>
</body>

</html>