@font-face {
    font-family: 'Ovo Regular';
    src: url('fonts/Ovo-Regular.ttf');
}

@font-face {
    font-family: 'Poppins Regular';
    src: url('fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('fonts/Poppins-SemiBold.ttf');
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: url("images/background.jpeg");
    background-size:contain;
}

header, main, footer{
    width: 60vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

@media screen and (max-width: 992px) {
    header, main, footer{
        width: 95vw;
    }
}

header{
    margin-top: 2em;
    margin-bottom: 2em;
    border-bottom: 2px solid black;

    height: 10vh;
}

@media screen and (max-width: 992px) {
    header{
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

main {
    font-family: "Poppins Regular", sans-serif;
    height: 82vh;
}

@media screen and (max-width: 992px) {
    header{
        height: 8vh;
    }
    main{
        height: 90vh;
    }
}

button {
    cursor: pointer;
    font-family: "Poppins Regular", sans-serif;
}

hr{
    width: 20%;
    border: 1px solid black;
    margin-bottom: 3rem;
}

.current {
    display: flex;
    flex-direction: column;
}

.playing {
    font-family: "Ovo Regular", serif;
    font-weight: bold;
}

@media screen and (max-width: 992px) {
    .current{
        min-height: 5vh;
    }

    h1{
        font-size: 1.2rem;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

.marquee{
    position: absolute;
    font-size: 1.6em;
    width: 500px;
    animation: loop 20s linear infinite;
    align-self: center;
}

.status{
    font-size: 1.2rem;
    color: grey;
    font-style: italic;
    margin: auto;
}

@keyframes loop {
    from {
        left: 100%;
    }

    to {
        left: -30%
    }
}

.connecting::after {
    display: inline-block;
    content: '';
    animation: threedots 3s steps(1, end) infinite;
}

@keyframes threedots {
    0%{
        content: ''
    }
    25% {
        content: '.';
    }

    50% {
        content: '..';
    }

    75% {
        content: '...';
    }
    100%{
        content: '';
    }
}

/* CONTROLS */

.controls{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    position: absolute;
    bottom: 0;
    width: 100%;

    /* background-color: white; */
    padding-top: 1rem;
    padding-bottom: 1rem;

    justify-content: space-between;
    border-top: 2px solid black;
}

.volume{
    width: 100%;
    display: flex;
    padding: 5px;
    background-color: white;
    border: 2px solid black;
    margin-top: 1rem;
    margin-bottom: 1rem;;
}

.volume-value {
    font-size: 1.4em;
}

.volume-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    color: grey;
    
}

.volume-slider::-webkit-slider-thumb, .volume-slider::-moz-range-thumb{
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;
}

.volume-slider::-webkit-slider-runnable-track, .volume-slider::-moz-range-track{
    -webkit-appearance: none;
    appearance: none;
    background-color: black;
    color: black;
    height: 2px;
}

.ctrl{
    background: none;
    border: none;
    padding: none;
    border-radius: 5px;

    font-size: 1.2em;
    font-family: "Poppins Regular", sans-serif;
    width: min-content;
    /* min-width: 100px; */
}

.icon {
    width: 3em;
    height: 3em;
    margin: 1rem;
}

@media screen and (max-width: 992px) {
    .ctrl{
        /* padding: 0.5rem 1rem 0.5rem 1rem; */
        font-size: 1rem;
        /* min-width: 50px; */
    }
}

/* HELP */

.popup{
    position: absolute;
    z-index: 1;
    width: 60vw;
    background-color: rgba(255, 255, 255, 0.9);
    /* border: 2px solid black; */
    max-height: 75vh;
    height: min-content;
    overflow-y: scroll;
}

@media screen and (max-width: 992px) {
    .popup{
        width: 95vw;
    }
}

.popup h1, .popup p {
    margin: 1rem;
}

.popup p{
    line-height: 2rem;
}

/* COMPOSITIONS */

.compositions{
    overflow-y: scroll;
}

.title{
    font-size: 3em;
    font-family: 'Ovo Regular', serif;
    display: flex;
    justify-content: space-between;
}

.composition{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.info{
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    /* background-color: rgba(255, 255, 255, 0.5); */
    cursor: pointer;
}

.info:hover{
    background-color: #f8dfb8;
}

.name{
    font-family: "Poppins Bold";
}

.description{
    font-style: italic;
}