<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pogłos</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="static/lib/vue.dev.js"></script>
</head>

<body>
    <header>
        <div class="title">pogłos</div>
    </header>
    <main id="app">
        <h1>
            currently
        </h1>
        
        <div class="current">
            <div v-if="current"  class="marquee">
                {{current.artist }} - {{ current.name }}
            </div>
            <div v-else class="marquee status">
                {{ status }}
            </div>    
        </div>

        <h1>
            compositions
        </h1>

        <div class="composition" v-for="composition in compositions">
            <div class="info">
                <div class="name">{{ composition.name }}</div>
                <div class="artist">{{ composition.artist }}</div>
                <div class="description">{{ composition.description }}</div>
            </div>
            <div class="controls">
                <button class="start" @click="start(composition.name)">start</button>
            </div>
        </div>
        <button class="stop" @click="stop()">stop</button>
        <div class="volume">
            <input type="range" name="volume" @input="setVolume" min="0" max="100" id="volume-slider"><span class="volume-value" id="volume">{{volume}}</span>
        </div>
        
    </main>
    <footer></footer>
    <script src="static/script.js"></script>
</body>

</html>