body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    padding-top: 2em;
    padding-bottom: 2em;
}

main{
    display: flex;
    flex-wrap: wrap;
}

li{
    list-style: none;
}

.container{
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.container .title{
    font-size: 3em;
    font-weight: bold;
}

.abstract{
    align-self: center;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    width: 50%;
}

.media{
    display: flex;
    justify-content: space-between;
}

.images, .sounds{
    width: 45%;
}

img{
    width: 100%;
    /* border: 2px solid black; */
    padding: 1em;
    margin-bottom: 1em;
}

.composition{
    margin-top: 4em;
}

.name{
    margin-bottom: 1em;
}

.description{
    font-style: italic;
    font-size: 0.9em;
}