@font-face {
    font-family: 'Poppins Regular';
    src: url('./assets/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Ovo Regular';
    src: url('./assets/fonts/Ovo-Regular.ttf');
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('./assets/fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Quicksand Bold';
    src: url('./assets/fonts/Quicksand-SemiBold.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: white;
}

header, footer{
    width: 100%;
}

header{
    padding-top: 2em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    border-bottom: 2px solid black;
}

main{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Poppins Regular', sans-serif;
}

footer{
    margin-top: 5em;
    padding-top: 1em;
    border-top: 2px solid black;
    padding-bottom: 5em;
    display: flex;
    justify-content: space-between;
}

ul li{
    list-style: disc;
}

a{
    color: black;
}

h2{
    font-family: 'Ovo Regular', serif;
    font-size: 2em;
}

img{
    width: 100%;
    /* border: 2px solid black; */
    padding: 1em;
    margin-bottom: 1em;
}

button{
    background-color: white;
    border: none;
    border-radius: 5px;
    
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;

    font-size: 1em;
    text-decoration: underline;

    cursor: pointer;

    min-width: 20%;
}

.container{
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.container .title{
    font-size: 3em;
    font-family: 'Ovo Regular', serif;
}

.abstract{
    align-self: center;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    padding: 2em;
    max-width: 60%;

    font-size: 1.2em;
    background-color: #f9eddb;
}

.section a {
    font-style: italic;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section{
    width: 45%;
}

.full{
    width: 100%;
}

.bullet-list li{
    margin-left: 1em;
    list-style: inherit;
}

.playback-holder{
    margin-top: 1rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.legend{
    font-size: 0.8em;
    margin-bottom: 4em;
    text-align: center;
}

.composition{
    margin-top: 4em;
}

.name{
    margin-bottom: 1em;
    font-family: 'Poppins Bold', sans-serif;
}

.description{
    font-style: italic;
    font-size: 0.9em;
}

.log{
    font-style: italic;
    
    background-color: #f9eddb;
    height: 5rem;

    min-width: 80%;

    overflow-y: hidden;
    display: flex;
    flex-direction: column-reverse;

    font-size: 0.8em;
}

.msg{
    margin-bottom: 0.25em;
    margin-left: 0.5em;
}

.in-progress {
    opacity: 0.6;
}

@media screen and (max-width: 992px) {
    footer, header, main{
        width: 90%;
        margin: auto;
    }

    .container{
        width: 100%;
    }

    .section{
        width: 100%;
    }

    .abstract{
        max-width: 90%;
        font-size: 0.85em;
    }
}